.aaa .parent {
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	text-align: justify;
}

.aaa .child {
	float: left;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aaa .clearfix {
	clear: both;
}

.aab .parent {
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	text-align: justify;
}

.aab .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aab .clearfix {
	clear: both;
}

.aac .parent {
    flex-direction: column;
    display: flex;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	text-align: justify;
}

.aac .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aad .parent {
    flex-direction: column-reverse;
    display: flex;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	text-align: justify;
}

.aad .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aae .parent {
    flex-direction: column-reverse;
    display: flex;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	text-align: justify;
}

.aae .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aav .clearfix {
	clear: both;
}

.aav .parent {
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	text-align: justify;
}

.aav .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aaw .parent {
    flex-direction: column-reverse;
    display: flex;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	text-align: justify;
}

.aaw .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aaw .clearfix {
	clear: both;
}	

.aaq .parent {
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	text-align: justify;
}

.aaq .child {
	float: left;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aaq .clearfix {
	clear: both;
}

.aaz .parent {
    flex-direction: column;
    display: flex;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	text-align: justify;
}

.aaz .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aax .parent {
	display: flex;
	flex-direction:  column;     /* главная ось вниз, поперечная вправо */
	justify-content: flex-start; /* блоки к началу главной оси */
	align-items:     flex-end;   /* блоки к концу поперечной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.aax .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aax .clearfix {
	clear: both;
}

.aay .parent {
	display: flex;
	flex-direction:  row;        /* главная ось направо, поперечная вниз */
	justify-content: flex-end; /* блоки к началу главной оси */
	align-items:     flex-end;   /* блоки к концу поперечной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.aay .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aay .clearfix {
	clear: both;
}

.aat .parent {
	display: flex;
	flex-direction:  column;     /* главная ось вниз, поперечная вправо */
	justify-content: flex-start; /* блоки к началу главной оси */
	align-items:     flex-start; /* блоки к началу поперечной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.aat .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aat .clearfix {
	clear: both;
}

.aan .parent {
	display: flex;
	flex-direction:  column;   /* главная ось вниз, поперечная вправо */
	justify-content: flex-end; /* блоки к концу главной оси */
	align-items:     flex-end; /* блоки к концу поперечной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.aan .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aap .parent {
	display: flex;
	flex-direction:  row;        /* главная ось направо, поперечная вниз */
	justify-content: flex-start; /* блоки к началу главной оси */
	align-items:     flex-end;   /* блоки к концу поперечной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.aap .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aal .parent {
	display: flex;
	flex-direction:  row;        /* главная ось направо, поперечная вниз */
	justify-content: center; /* блоки к началу главной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.aal .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aal .clearfix {
	clear: both;
}

.aam .parent {
	display: flex;
	flex-direction:  row;        /* главная ось направо, поперечная вниз */
	justify-content: center; /* блоки к началу главной оси */
	align-items:     flex-end;   /* блоки к концу поперечной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.aam .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.aam .clearfix {
	clear: both;
}

.baa .parent {
	display: flex;
	flex-direction: row;
	align-items: center; /* центрируем по побочной оси */
	justify-content: center; /* блоки к началу главной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.baa .clearfix {
	clear: both;
} 

.caa .parent {
	display: flex;
	flex-direction: row;
	align-items: center; /* центрируем по побочной оси */
	justify-content: right; /* блоки к началу главной оси */
	gap: 80px;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}
 
.clearfix {
	clear: both;
} 

.daa .parent {
	display: flex;
	flex-direction: row;
	flex-direction: column;
	align-items: center; /* центрируем по побочной оси */
	justify-content: center; /* блоки к началу главной оси */
	gap: 20px;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.eaa .parent {
	display: flex;
	flex-direction: row;
	align-items: center; /* центрируем по побочной оси */
	justify-content: center; /* блоки к началу главной оси */
	gap: 80px;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	align-items: stretch;
}

.eaa .child {
	float: right;
	width: none;
	height: none;
	border: 1px solid green;
}

.faa .parent {
	display: flex;
	flex-direction: row;
	align-items: center; /* центрируем по побочной оси */
	width: 1500px;
    height: 700px;
	gap: 80px;
	border: 1px solid red;	
}

.faa .child {
	float: right;
	width: none;
	height: 100%;
	border: 1px solid green;
}

.gaa .parent {
	display: flex;
	flex-direction: row;
	flex-direction: column;
	align-items: center; /* центрируем по побочной оси */
	justify-content: center; /* блоки к началу главной оси */
	gap: 20px;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.gaa .child {
	float: right;
	width: 100%;
	height: none;
	border: 1px solid green;
}

.haa .parent {
	display: flex;
	flex-direction:  row;        /* главная ось направо, поперечная вниз */
	justify-content: center; /* блоки к началу главной оси */
	align-items:     flex-end;   /* блоки к концу поперечной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	gap: 80px;
}

.haa .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.iaa .parent {
	display: flex;
	flex-direction:  column;     /* главная ось вниз, поперечная вправо */
	justify-content: center; /* блоки к началу главной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.iaa .child {
	float: right;
	width: 200px;
	height: 100px;
	border: 1px solid green;
}

.jaa .parent {
	display: flex;
	flex-direction:  column;     /* главная ось вниз, поперечная вправо */
	justify-content: center; /* блоки к началу главной оси */
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	align-items: flex-end; /* блоки к концу поперечной оси */
}

.kaa .parent {
	display: flex;
	flex-direction:  column;     /* главная ось вниз, поперечная вправо */
	justify-content: center; /* блоки к началу главной оси */
	width: 1500px;
    height: 700px;
	gap: 80px;
	border: 1px solid red;
	align-items: flex-end; /* блоки к концу поперечной оси */
}

.laa .parent {
	display: flex;
	align-items: center;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	flex-direction: row;
	justify-content: center; /* блоки к началу главной оси */
}

.laa .child {
	width: 150px;
	height: 150px;
	border: 1px solid green;
}

.laa .elem {
	align-self: flex-end;
}

.maa .parent {
	display: flex;
	align-items: center;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
	flex-direction: row;
	justify-content: center; /* блоки к началу главной оси */
}

.maa .child {
	width: 150px;
	height: 100%;
	border: 1px solid green;
}

.maa .elem {
	height: 150px;
}

.naa .parent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.naa .child {
	width: 150px;
	height: 150px;
	border: 1px solid green;
}

.naa .elem {
	order: 1;
	border: 1px solid red;
}

.oaa .parent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 1500px;
    height: 700px;
	border: 1px solid red;
}

.oaa .child {
	width: 150px;
	height: 150px;
	border: 1px solid green;
}

.oaa .elem {
	order: -1;
	border: 1px solid red;
} 










