.aaa #parent {
	width: 300px;
	border: 1px solid blue;
	border-style: dashed;
}

.aaa #child {
	height: 240px;
	border: 1px solid rgb(255, 196, 0);
	margin: 30px;
}



.aa #parent {
	width: 400px;
	border: 1px solid blue;
	border-style: dashed;
	
}

.aa #child {
	height: auto;
	border: 1px solid green;
	margin: 30px;
	border-style: dashed;	
}

.aa #childchild {
	height: 150px;
	border: 1px solid rgb(255, 0, 0);
	margin: 30px;
}



.aaq #parent {
	width: 180px;
	border: 1px solid red;
}
.aaq #child {
	margin-top:    50px; /* сверху */
	margin-right:  40px; /* справа */
	margin-bottom: 120px; /* снизу */
	margin-left:   40px; /* слева */
	
	height: 100px;
	border: 1px solid green;
}




.aaw #parent {
	width: 180px;
	border: 1px solid red;
}
.aaw #child {
	margin-top:    20px; /* сверху */
	margin-right:  60px; /* справа */
	margin-bottom: 20px; /* снизу */
	margin-left:   60px; /* слева */
	
	height: 100px;
	border: 1px solid green;
}



.aae #parent {
	width: 300px;
	border: 1px solid rgb(255, 196, 0);
}
.aae #child {
	height: 100px;
	border: 1px solid blue;
	margin: 30px 60px 140px 14px;
		border-style: dashed;

}


.aar #parent {
	width: 600px;
	border: 1px solid rgb(255, 196, 0);
}

.aar #child {
	height: 100px;
	border: 1px solid blue;
	margin: 40px 140px 90px;
	border-style: dashed;
}


.aat #elem {
	padding: 30px;
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}


.aay #elem {
	padding: 150px 30px; 
	
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}






.aau #elem1 {
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	margin-bottom: 20px;
}

.aau #elem2 {
	padding: 25px; /* задаем отступы */
	width: 100px;
	height: 100px;
	background: #f1f1f1;
}




.aai #elem1 {
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	margin-bottom: 20px;
}

.aai #elem2 {
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	border: 10px solid green;  /* задаем границу */
	padding: 40px;
}



span {
	border: 1px solid red;
}



.aad p {
	display: inline;
	width: 300px;
	height: 300px;
	border: 1px solid red;
}

.aaf a {
	display: inline;
	width: 300px;
	height: 300px;
	border: 1px solid red;
}


.aag p {
  display: inline;
}



.aah a {
  display: block;
  width: 200px;
  height: 50px;
  border: 2px solid blue;
  padding: 10px;
  margin: 5px 0;

  color: black;		
  text-align: center;
  line-height: 50px; /* Выравнивание текста по вертикали */
}




.aaj div {
	width: 100px;
	height: 100px;
	border: 1px solid red;
	  display: inline-block;
}

.aak .parent {
	text-align: center;
	padding: 10px 0;
	border: 1px solid red;
}
.aak a {
	border: 1px solid red;

}


.aal .parent {
	padding: 10%;
	text-align: right;
	padding: 10px 100px;	
	border: 1px solid red;

}


.aaz .parent {
	text-align: center;
	padding: 10px 0;
	border: 1px solid red;
}
.aaz .child {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid green;
	margin: 5px;
}



.aax .parent {
	text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}
.aax .child {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid green;
		margin: 8px;
}


.aac .parent {
	display: flex; /* потомки будут флекс элементами */
	width: 300px;
	height: 200px;
	border: 1px solid red;
}
.aac .child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}


.aav .parent {
	display: flex;
	width: 300px;
	border: 1px solid red;
}
.aav .child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}

.aab .parent {
	display: inline-flex;
	padding: 10px;
	border: 1px solid red;
}
.aab .child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}

.aan .parent {
	display: inline-flex;
	padding: 10px;
	border: 1px solid red;
}
.aan .child {
	margin: 10px;
	width: 50px;
	height: 50px;
	border: 1px solid green;
}


.aam .parent {
		display: flex;
	justify-content: center;
	width: 400px;
	height: 300px;
	display: inline-flex;
	border: 1px solid red;
}
.aam .child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}



.aa1 .parent {
	display: flex;
		justify-content: space-between;
		width: 400px;
	height: 300px;
	display: inline-flex;
	border: 1px solid red;
}
.aa1 .child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}

.aa2 .parent {
	display: flex;
		justify-content: space-around;
		width: 400px;
	height: 300px;
	display: inline-flex;
	border: 1px solid red;
}
.aa2 .child {
	
	width: 50px;
	height: 50px;
	border: 1px solid green;
}










